<h2>カードの値を入力してね</h2>
<%= form_with url: '/judge', local: true do |form| %>
    <%= form.text_field :text, value:@text %>
    <%= form.submit '判定する！' %>
<% end %>

<% if @error %>
    <p><%= @error %></p>
<% end %>

<% if @result %>
    <h2>役の名前はこちらです</h2>
    <p><%= @result %></p>
<% end %>
