<h2>カードの値を入力してね</h2>

<% if @error %>
    <p><%= @error %></p>
<% end %>

<%= form_with url: '/result', method: :get, local: true do |form| %>
    <%= form.text_field :value, value:@text %>
    <%= form.submit '判定する！' %>
<% end %>

<% if @value %>
    <h2>役の名前はこちらです</h2>
    <p><%= @value %></p>
<% end %>